<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'AFSPRAAK MAKEN')}">
    <head>
        <meta charset="UTF-8">
        <title >Afspraak</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                th:href="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
        <!-- javascript library -->
        <script  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                 th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <h3> It is what it is, you know.</h3>
    </body>

</html>