<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'PRAKTIJK INFORMATIE')}" >
<head>
    <meta charset="UTF-8">
    <title >Informatie</title>
</head>
    <body>
        <div class="container" id="prak">
            <br/>
            <h1 class="page-title">Praktijkinformatie</h1>
            <br/>
            <h3>Onze visie</h3>
            <br/>
            <p id="visief">Samen met u zorgen wij voor uw gezondheid. We bieden algemene geneeskunde aan die gebaseerd
                is op de huidige wetenschappelijke inzichten en we streven naar een volledige zorg waarin
                ook uw eigen inbreng, autonomie en wensen belangrijk zijn. Onze visie op huisartsgeneeskunde
                is gebaseerd op de huidige ontwikkelingen binnen onze maatschappij, waar samenwerkingsverbanden
                centraal staan en eerstelijnsgeneeskunde ruimer wordt bekeken. Hiervoor dient een groepspraktijk in
                te spelen op toegankelijke, kwaliteitsvolle en meer efficiënte gezondheidszorg met alle
                eerstelijnsactoren samen, en dus met beter interdisciplinair werken en deze expertise ook delen.
                De huisarts is maar een deel van het geheel, kaderend in eerstelijnszones. Naast deskundige
                hulpverlening is ook zelfzorg belangrijk, zodat gezondheidswerkers hun werk op een goede, heilzame
                en duurzame wijze kunnen doen. “‘Doctoring is being the doctor you want to be.”

                Hulpverleners vertrekken vanuit passie en bezieling voor het vak wat we graag doen, naast een missie
                om te doen wat nodig is en een deskundigheid door levenslang leren, wat we als een geheel willen
                uitstralen. Daarom werken we eerder aanbod-gestuurd dan vraag-gestuurd, om deze visie ook te kunnen
                doorgeven aan onze patiënten, daar deze een appél inhoudt aan iedereen om gezondheid in al zijn
                aspecten uit te werken.

                Binnen de samenwerking werken verschillende huisartsen met elk zijn/haar eigen subspecialisatie,
                en ondersteund door een team van baliemedewerkers en paramedici (verpleegkundigen, diëtiste, …).
                Dit team is nodig om een brede zorg te kunnen aanbieden voor verschillende aspecten van ziekte en
                gezondheid, en om elke patiënt de best mogelijke zorg voor hem/haar aan te bieden. We bieden ook
                continuïteit aan door een uitgebreid  samenwerkingsverband met andere hulpverleners op de eerste
                lijn binnen de wachtkring buiten de werkuren.</p>

            <p id="visief1">Samen met u zorgen wij voor uw gezondheid. We bieden algemene geneeskunde aan die gebaseerd
                is op de huidige wetenschappelijke inzichten en we streven naar een volledige zorg waarin
                ook uw eigen inbreng, autonomie en wensen belangrijk zijn. Onze visie op huisartsgeneeskunde
                is gebaseerd op de huidige ontwikkelingen binnen onze maatschappij, waar samenwerkingsverbanden
                centraal staan en eerstelijnsgeneeskunde ruimer wordt bekeken. Hiervoor dient een groepspraktijk in
                te spelen op toegankelijke, kwaliteitsvolle en meer efficiënte gezondheidszorg met alle
                eerstelijnsactoren samen, en dus met beter interdisciplinair werken en deze expertise ook delen.
                De huisarts is maar een deel van het geheel, kaderend in eerstelijnszones. Naast deskundige
                hulpverlening is ook zelfzorg belangrijk, zodat gezondheidswerkers hun werk op een goede, heilzame
                en duurzame wijze kunnen doen. “‘Doctoring is being the doctor you want to be.”

                Hulpverleners vertrekken vanuit passie en bezieling voor het vak wat we graag doen, naast een missie
                om te doen wat nodig is en een deskundigheid door levenslang leren, wat we als een geheel willen
                uitstralen. Daarom werken we eerder aanbod-gestuurd dan vraag-gestuurd, om deze visie ook te kunnen
                doorgeven aan onze patiënten, daar deze een appél inhoudt aan iedereen om gezondheid in al zijn
                aspecten uit te werken.

                Binnen de samenwerking werken verschillende huisartsen met elk zijn/haar eigen subspecialisatie,
                en ondersteund door een team van baliemedewerkers en paramedici (verpleegkundigen, diëtiste, …).
                Dit team is nodig om een brede zorg te kunnen aanbieden voor verschillende aspecten van ziekte en
                gezondheid, en om elke patiënt de best mogelijke zorg voor hem/haar aan te bieden. We bieden ook
                continuïteit aan door een uitgebreid  samenwerkingsverband met andere hulpverleners op de eerste
                lijn binnen de wachtkring buiten de werkuren.</p>
        </div>
    </body>
</html>