<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'PRAKTIJK INFORMATIE')}" >
<head>
    <meta charset="UTF-8">
    <title >Informatie</title>
</head>
    <body>
        <div class="container" style="color: #00acc1">
            <br/>
            <h1 class="page-title">Praktische informatie</h1>
            <br/>
            <h3 class="font-weight-bold">Wenst u een afspraak te maken kan dit op de volgende manieren:</h3>
            <br/>
                <p class="font-weight-bold">Website: <a th:href="@{/credentials/login}">Klik Hier</a></p>
                <p class="font-weight-bold">Afsprakenlijn 24u/24u en 7d/7d op het nummer 0492117785</p>
                <br/>
            <h3 class="font-weight-bold">Nog enkele belangrijke telefoonnumers:</h3>
                <p class="font-weight-bold">- Wanneer elke seconde telt, belt u altijd 112!</p>
                <p class="font-weight-bold">- Wanneer u tussen 12.00 uur en 19.00 uur direct zorg nodig heeft omdat wachten onverantwoord is, kan U bellen met</p>
                <p class="font-weight-bold">onze spoedlijn: 0499/733293.  U kan dit nummer ook bellen in de namiddag om uw afspraak te annuleren of om te<br>
                    verwittigen dat U er niet tijdig geraakt.</p>
                <br/>
            <h3 class="font-weight-bold">Wachtdiensten</h3>
                <p class="font-weight-bold">Tijdens de week <br>
                    Tijdens de weeknachten van 19u tot 8u is het mogelijk dat uw eigen huisarts niet bereikbaar is. U kan dan in dringende <br>
                    gevallen beroep doen op het centrale wachtnummer voor Antwerpen Centrum 0900/10 512.
                </p>
                <br>
                <p class="font-weight-bold">Tijdens het weekend <br>
                    Van vrijdagavond 19u tot maandagmorgen 8u zijn de huisartsen van de praktijk niet bereikbaar. U kan dan in dringende<br>
                    gevallen beroep doen op het centrale wachtnummer voor Antwerpen Centrum 0900/10 512.
                </p>
                <br/>
            <h3 class="font-weight-bold">Administratie</h3>
                <p class="font-weight-bold">Medische attesten en voorschriften worden uitsluitend afgeleverd tijdens een raadpleging.  Maak hiervoor steeds een<br>
                    afspraak met uw dokter.  Sinds enige tijd laat het RIZIV niet meer toe dat attesten en voorschriften na telefinische<br>
                    aanvraag verstrekt worden.
                    <br>
                    Voor het binnenbrengen of ophalen van attesten of voorschriften, vragen wij U om dit zoveel mogelijk te doen tijdens de<br>
                    opneningsuren van het onthaal elke werkdag tussen 8u en 12u.<br>
                    Gelieve steeds uw identiteiskaart mee te brengen.
                </p>
            <h3 class="font-weight-bold">Betaling</h3>
                <p class="font-weight-bold">
                    U kan cash betalen of via een "Bancontact/Payconiq app" of de betaalapp van uw online banking systeem op uw<br>
                    smartphone, U dient deze wel eerst thuis te activeren!<br>
                    <br>
                    Wij hebben GEEN Bancontact toestel op de praktijk!
                </p>
            <h3 class="font-weight-bold">Bereikbaarheid</h3>
                <p class="font-weight-bold"><br>
                    U kan huisartsenpraktijk de wijngaard gemakkelijk bereiken met het openbaar vervoer.<br>
                    <br>
                    Indien u met de wagen komt, kan u parkeren op de mechelsesteenweg of in de ondergrondse parking ‘godefriduskaai’ in de<br>
                    sint-thomasstraat.
                </p>
        </div>
    </body>
</html>