.footer-copyright {
    background-color: #00acc1;
    color: white;
    margin-top: 20px;
}


#container-fluid, #info {
    background-color: deepskyblue;
}
#login {
    background-color: #5bc0de;
    margin-top: 50px;
    padding: 15px;
}

#prak{
    background-color: whitesmoke;
}
